/*======================Global==============================*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*{
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2% 1% 1% 2%;
    text-align: justify;
}

h1{
    font-size: 3rem;
    padding: 3%;
    text-align: center;
    font-weight: bold;
    margin: 8% 0 8% 0;
 }

h2, h3{
    padding: 2%;

}

h2{
    text-align: center;
}

.boutton{
    text-decoration: none;
    padding: 0.5%; 
    border-radius: 10px;
    font-size: 1.5em;
    border-color: #ab2a35;
    border-style: solid;
    border-width: 4px;
    color: black;
    box-shadow: 3px 3px 10px rgba(71, 65, 65, 0.9);
    text-align: right;
    float: right;
    margin-right: 3%;
}
a.boutton:hover{
    color: white;
    background-color: #ab2a35;
    
}

/* ======================Navbar==============================*/

.nav-link{
    font-size:x-large;
}




/*=======================Main===============================*/

main{
    position: relative;
    min-height: 100vh;
}

section{
    margin: 30% 0 30% 0;
}

/*====Accueil====*/
figure{
    margin: 15% 0 15% 0;
}

.image-accueil, .membres{
    width: 100%;
}

.h1-accueil{
    position: absolute;
    top: -4%;
}

.section-accueil{
    margin-top: 15%;
}

.div-membres{
    display: grid;
    grid-template-areas: "h2" "membre";
    
    
}

.section-membres{
    background-color: rgba(171,42,53,90%);
}

/*=======Histoire========*/

article{
    margin-bottom: 5em;
}

.thevoice-img{
    width: 56%;
    float: left;
    margin-right: 3%;
}

.img-histoire{
    width: 100%;
}



/*=====================Footer================================*/
footer{
    background-color: rgba(var(--bs-dark-rgb));
    color: azure;
    font-size: 1.2em;
    text-align: center;
   
}

footer > ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
footer > p{
    padding: 2%;
    text-align: center;
}

/*=======================Media Queries======================*/

@media screen and (min-width : 768px) {

    footer > ul{
        width: 30%;
    }
    .navbar-brand{
        margin-right: 50%;
    }

    figure{
        padding-left: 20%;
        padding-right: 20%;
    }

    .div-membres{
        grid-template-areas: "h2 h2" "membre membre";        
    }
    section{
        margin: 10% 0 10% 0;
    }

    .h1-accueil{
        position: absolute;
        top: -7%;
    }

    h1{
        font-size: 6rem;
    }

    .img-histoire{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
}

