/*======================Global==============================*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*{
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
}


/* ======================Navbar==============================*/

.nav-link{
    font-size:x-large;
}




/*=======================Main===============================*/

main{
    min-height: 100vh;
}

/*=====================Footer================================*/
footer{
    background-color: rgba(var(--bs-dark-rgb));
    color: azure;
    font-size: 1.2em;
    text-align: center;
   
}

footer > ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
footer > p{
    padding: 2%;
}

/*=======================Media Queries======================*/

@media screen and (min-width : 768px) {

    footer > ul{
        width: 30%;
    }
    .navbar-brand{
        margin-right: 50%;
    }

}

